@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");

body {
  display: flex;
  margin: 0 auto;
  height: 100%;
  flex-direction: column;
  background-color: white;
  background-size: cover;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
.modal-backdrop {
  z-index: -1;
}
.main_frame {
  text-align: center;
}

/* Styles for smartphones in portrait orientation */
@media only screen and (max-width: 600px) {
  .size_frame {
    width: 100%;
    height: 100vh !important;
    text-align: center !important;
  }
}

/* Styles for smartphones in landscape orientation */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  .size_frame {
    width: 100% !important;
    height: 200vh !important;
    text-align: center !important;
  }
}

/* Styles for tablets in portrait orientation */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .size_frame {
    width: 60% !important;
    height: 100vh !important;
    text-align: center !important;
  }
}

/* Styles for tablets in landscape orientation */
@media only screen and (min-width: 992px) and (max-width: 1023px) {
  .size_frame {
    width: 50% !important;
    height: 100vh !important;
    text-align: center !important;
  }
}
/* Styles for small laptops and desktops */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .size_frame {
    width: 50% !important;
    height: 100vh !important;
    text-align: center !important;
  }
}
/* Styles for large laptops and desktops */
@media only screen and (min-width: 1200px) {
  .size_frame {
    width: 28% !important;
    height: 100vh !important;
    text-align: center !important;
  }
}
